@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://cdnjs.cloudflare.com/-reset/2.0/reset.minajax/libs/meyer.css');
@import url('main.css');

:root{
	--white: #ffffff;
	--bg-blue: rgba(0, 150, 150, 0.5);
}

body{
	font-family: 'Bebas Neue', cursive;
	font-size: 16px;

	background: var(--bg-blue);
	color: var(--white);

	width: 100%;
	height: 100vh;
}
